@media (prefers-color-scheme: light) {
  body {
    background: #fff;
    color: #333;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: #fff;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text-align: center; */
  padding: 10px 25px;
  margin-bottom: 10px;
}
#nav .cname {
  display: inline-block;
  padding: 5px;
  border-bottom: 3px solid rgb(0, 225, 225);
}
.bxl-github {
  cursor: pointer;
}
@media screen and (max-width: 420px) {
  #nav .cname {
    font-size: 18px;
    padding-left: 0;
  }
}
#githubbottom {
  display: none;
}
@media screen and (max-width: 354px) {
  #githubtop {
    display: none;
  }
  #githubbottom {
    display: inline-block;
  }
}
#nav .switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav #inputColor {
  margin-right: 25px;
  -webkit-appearance: none;
  /* display: inline-block; */
  height: 30px;
  width: 30px;
  border: 2px solid #fff;
  border-color: tomato;
  outline: none;
  padding: 3px;
  border-radius: 50%;

  /* background-color: rgb(0, 225, 225); */
  background-color: transparent;
}
#inputColor::-webkit-color-swatch-wrapper {
  padding: 0;
}
#inputColor::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

@media screen and (max-width: 415px) {
  #nav #inputColor {
    margin-right: 10px;
  }
}

#changeMode {
  color: rgba(252, 70, 107, 1);
  user-select: none;
  /* cursor: pointer; */
}
main {
  max-width: 850px;
  /* border: 2px solid black; */
  position: relative;

  margin: auto;
  width: 100%;

  padding: 15px;
  margin-bottom: 15px;
}

footer {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  word-spacing: 1.5px;
  text-align: center;
  text-transform: capitalize;
  /* background-color: rgba(252, 70, 107, 1); */
  padding: 3px 0px;
  line-height: 10px;
}

#inputText {
  width: 100%;
  height: 375px;
  background-color: transparent;
  color: inherit;
  /* border: 2px solid #d3d3d3; */
  border: 1px solid rgb(149, 149, 149);
  /* border: 2px solid rgb(0, 225, 225); */
  font: 400 1rem var(--font-sans-serif);
  padding: 10px;
  margin-bottom: 7px;
  outline: none;
  border-radius: 5px;
}
/* #inputText:hover, */
#inputText:focus,
#inputText:active {
  border: 1px solid rgba(252, 70, 107, 1);
}

/* width */
#inputText::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
/* Track */
#inputText::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

/* Handle */
#inputText::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /* box-shadow: inset 0 0 6px rgba(252, 70, 107, 1); */
  background-color: #555;
}

/* Handle on hover */
/* #inputText::-webkit-scrollbar-thumb:hover {
	background-color: rgba(252, 70, 107, 1);
} */

#page {
  display: block;
  position: relative;
  /* overflow: hidden; */
  margin-top: 15px;
}
canvas {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
}

.options > .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  user-select: none;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
}
@media screen and (max-width: 780px) {
  .options > .buttons {
    flex-direction: column;
  }
}
.options > .buttons input {
  width: 100%;
  margin: 5px 10px;
  background-color: rgba(252, 70, 107, 1);
  border: none;
  padding: 12px 10px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s;
  color: white;
  border-radius: 7px;
  font-weight: 600;
  letter-spacing: 1.2px;
  font-family: "Ubuntu", sans-serif;
}
.options > .buttons input:hover {
  background-color: rgb(0, 225, 225);
  color: #000;
  text-decoration: none;
}

/* rangev1 css */
.options > .rangev1 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  user-select: none;
  width: 100%;
}
@media screen and (max-width: 780px) {
  .options > .rangev1 {
    flex-direction: column;
  }
}
.options > .rangev1 .itm {
  width: 100%;
  margin: 5px 10px;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.options > .rangev1 .itm > input {
  -webkit-appearance: none;
  width: 100%;
  height: var(--sliderHeight);
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-top: 5px;
}
.options > .rangev1 .itm > input:hover {
  opacity: 1;
}
.options > .rangev1 .itm > input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--sliderHeight);
  height: var(--sliderHeight);
  background: rgb(0, 225, 225);
  cursor: pointer;
}
.options > .rangev1 .itm > input::-moz-range-thumb {
  width: var(--sliderHeight);
  height: var(--sliderHeight);
  background: rgb(0, 225, 225);
  cursor: pointer;
}

/* rangev2 css  */

.options > .rangev2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  user-select: none;
  width: 100%;
}
@media screen and (max-width: 780px) {
  .options > .rangev2 {
    flex-direction: column;
  }
}
.options > .rangev2 .itm {
  width: 100%;
  margin: 5px 10px;
  font-weight: 600;
  padding: 0px 25px;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 780px) {
  .options > .rangev2 .itm {
    padding: 0px;
  }
}
.options > .rangev2 .itm > input {
  -webkit-appearance: none;
  width: 100%;
  height: var(--sliderHeight);
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-top: 5px;
}
.options > .rangev2 .itm > input:hover {
  opacity: 1;
}
.options > .rangev2 .itm > input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--sliderHeight);
  height: var(--sliderHeight);
  background: rgba(252, 70, 107, 1);
  cursor: pointer;
}
.options > .rangev2 .itm > input::-moz-range-thumb {
  width: var(--sliderHeight);
  height: var(--sliderHeight);
  background: rgba(252, 70, 107, 1);
  cursor: pointer;
}
/* @media screen and (max-width:576px) {
  :root
  {
    --sliderHeight: 16px;
  }
  .options > .rangev1 {
    width: 80%;
  }
  .options > .rangev2 {
    width: 80%;
  }
} */
